#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

body {
  background-color: lightgoldenrodyellow;
  color: black;
  background-image: url(../img/pokedex-kanto-1.jpeg);
  background-position: left;
  background-size: auto;
}

.counter {
  border: 1px solid red;
  background-color: lightgoldenrodyellow;
  margin-bottom: 5px;
  padding: 2px;
  border-radius: 10px;
 
}

.plist {
  background-color: lightgoldenrodyellow;
  border: 1px solid red;
  padding: 2px;
  border-radius: 10px;
}

.caroContainer {
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 1px solid red;
}

.pikachu {
  position:relative;
}